*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100vh;
    background:orangered;
    position: relative;
}

.clock{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    border:1rem solid white;
}

.hand{
    position: absolute;
    width: 50%;
    height: 1rem;
    background-color:white;
    top:50%;
    left:50%;
    /* transform: translate(-100%,calc(-50%+1rem)); */
}

.hand{
    transform: rotate(270deg);
    transform-origin: 0%;
}
