*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

.main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.212),rgba(0, 0, 0, 0.397));
    text-align: center;
    position: relative;
}

.container{
    padding:4rem 0;
    width: 100%;
    letter-spacing: .3rem;
    word-spacing: .4rem;
    text-transform: capitalize;
}

#searchBar{
    width:40%;
    font-size: 2.5rem;
    padding:1.5rem;
    border: none;
    border-radius: 10rem;
    margin:2rem 0;
}
#searchBar:focus{
    outline: none;
    border: none;
}


#searchBar::-webkit-input-placeholder{
    font-family: inherit;
    color:rgba(0, 0, 0, 0.822);
}

.help-text{
    font-size: 2.5rem;
    color:whitesmoke;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.list{
    margin:0 auto;
    margin-top: -5rem;
    text-align: end;
    width: 35%;
    position: relative;
    z-index: 10;
    padding:.5rem 2rem;
    height: 50vh;
    overflow: auto;
}

.u-list{
    list-style: none;
}

.u-list-li{
    font-size:2.5rem;
    text-align: start;
    padding: 1rem;
    color:#fff;
    background-color:black;
    border-radius: 10rem;
    border: none;
}

.u-list-li:not(:last-child){
    margin-bottom: 1rem;
}

.cityState{
    width:70%;
}

.population{
    width:25%;
    float: right;
}

.highlighted{
    color:black;
    background-color: #fff;
    border-radius: .3rem;
}